<HTML>
<title>About</title>
<body style="background-color:grey;font-family:courier;"
<header>
<h1>About us</h1>
</header>
<hr>
<p> We are teh peoipel, for the people, by the <strong>knees</strong></p>
</body>
</HTML>

<%= link_to 'Home', root_path %>