<HTML>
<title>Third page</title>
<body style="background-color:lightgrey;"
<header>
<h1>This is the header for our third page</h1>
</header>
<hr>
<p>This is a paragraph for our new third page</p>
</body>
</HTML>
 <%= link_to 'Home', root_path %>